<ion-header [translucent]="true">
  <ion-toolbar color="primary-booking">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/discover" color="fourth-booking">
      </ion-back-button>
    </ion-buttons>
    <ion-title color="fourth-booking" [textContent]="place.title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding ion-text-center">
      <ion-col sizeSm="6" offsetSm="3">
        <p [textContent]="place.description"></p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding ion-text-center" *ngIf="isBookable">
      <ion-col sizeSm="6" offsetSm="3">
        <ion-button color="third-booking" (click)="onBookPlace()"
          >Book</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
